* {font-family: 'Noto Sans', sans-serif; color: #3c3c3b;} 

.img-fluid {width: 100%;}

a {color: #e2001a;}
a:hover {color: #BA0217;}

a.anchor {
display: block;
position: relative;
top: 50px;
visibility: hidden;
}

.navbar-dark {background-color: #3c3c3b!important;}

* {
    font-family: 'Noto Sans', sans-serif;
    color: #3c3c3b;
}
.img-fluid {
    width: 100%;
}
a {
    color: #266d3b;
}
a:hover {
    color: #255332;
}
.dropdown-item {
    color: #000000!important;
}
.navbar-green {
    background-color: #266d3b!important;
}
.navbar-green a {
    color: #FFFFFF;
}
.navbar-green a:hover {
    color: #CCCCCC;
}
.text-ag {
    font-size: 0.8rem;
    color:#266D3B;
}
section {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.tagline-catch {
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: #3B3B3C 2px 2px 10px;
}

@media screen and (max-width: 575px) {
    .tagline-catch {
         font-size: 1.25rem;
         line-height: 1.35rem;
         margin-top: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .tagline-catch {
         font-size: 1.4rem;
         line-height: 1.75rem;
         margin-top: 1.1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .tagline-catch {
         font-size: 1.45rem;
         line-height: 1.9rem;
         margin-top: 1.15rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .tagline-catch {
         font-size: 1.85rem;
         line-height: 2.4rem;
         margin-top: 1.6rem;
    }
}

@media screen and (min-width: 1200px) {
    .tagline-catch {
         font-size: 1.9rem;
         line-height: 2.5rem;
         margin-top: 1.5rem;
    }
}

#jumbo {
    background: url(../img/bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 20rem;
    text-align: center;
}
.agriway-product {
    margin: 10px 0px;
}
.shadow {
    height: 100%;
}
.shadow ul li {
    font-size: 0.65rem;
    margin-left: -1rem;
    padding-left: -1rem;
}
.shadow .card-img-top {
    padding: 1rem;
}
.title-range {
    margin-top: 4rem;
    margin-bottom: 2rem;
}
h2.title-range {
    font-size: 2rem;
    padding: 1.5rem;
}
.title-product {
    font-size: 1.2rem;
    padding: 1rem;
}
.bg-dark {
    padding: 3rem;
}

@media all {
    .btn-GB {
        background-color: #3C3C3B;
        color: white;
        width: 100%;
        font-size: 10px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s; 
    }
    
    .btn-GB:hover{
        background-color: white;
        border: 1px solid #3C3C3B;
        color: #3C3C3B;
    }

    .cookies {
        padding: 15px 50px;
        display: none;
        background-color: white;
        bottom: 0px;
        border-top: 2px solid rgb(68, 68, 68);
        position: fixed;
    }

    .cookies div div {
        margin-bottom: 5px;
        font-size: 12px;
    }
}

@media all and (max-width: 720px) {
    .btn-GB {
        background-color: #3C3C3B;
        color: white;
        width: 90%;
        font-size: 8px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s; 
    }
    
    .btn-GB:hover{
        background-color: white;
        border: 1px solid #3C3C3B;
        color: #3C3C3B;
    }

    .responsive {
        width: 50%;
    }

    .cookies {
        padding: 0px 10px;
        display: none;
        background-color: white;
        bottom: 0px;
        border-top: 1px solid rgb(68, 68, 68);
        position: fixed;
    }

    .cookies div div {
        margin-bottom: 0px;
        font-size: 10px;
    }
}